<%= form_with scope: :employee, url:home_index_path, local: true do |form| %>

  <p>
    <%= form.label :latitude, 'Latitude' %><br>
    <%= form.text_field :latitude, placeholder: "Between -90 and 90" %>
  </p>
 
  <p>
    <%= form.label :longitude, 'Longitude' %><br>
    <%= form.text_field :longitude, placeholder: "Between -180 and 180"  %>
  </p>

  <p>
  	<%= form.label :radius, 'Radius' %><br>
  	<%= form.text_field :radius, placeholder: "Radius in [unit]"  %>
  </p>
 
  <p>
    <%= form.submit "Register Geofence" %>
  </p>
<% end %>