<%= form_with(model: @employee, local: true) do |form| %>
 
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2>
        There's <%= pluralize(@employee.errors.count, "error") %> in your profile update:
      </h2>
      <ul>
        <% @employee.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :password, 'Enter a new password' %><br>
    <%= form.password_field :password, placeholder: "Your new password" %>
  </p>

  <p>
    <%= form.label :password_confirmation, 'Confirm the new password' %><br>
    <%= form.password_field :password_confirmation, placeholder: "Type new password again" %>
  </p>

  <p>
    <%= form.submit "Update Password" %>
  </p>
 
<% end %>