<h1>Show Employee</h1>
<p>Displays an employee profile</p>


<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @employee.contract_ID %>
</p>

<p>
  <strong>Profile Description:</strong>
  <%= @employee.profile_desc %>
</p>

<%= form_with(model: [ @employee, @employee.timetracking.build ], local: true) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', employees_path %>